{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

<!-- {% block header %}
    <h1>Justin Kim</h1>
{% endblock %} -->

{% block content %}
    <h1>JUSTIN KIM</h1>
    <h2>
        <img
            class="image"
            src="../static/pin.svg"
            alt="pin"
            height="40"
            width="40" />
        Renton, WA</h2>
    <p>
        Graduated from the University of Wisconsin - Madison with a B.S. in Computer Science.<br />
        Current software engineer intern at Open Learning Exchange.<br />
    </p>

    <h2>PROJECTS</h2>

    <h3><a href="https://github.com/kjong/rpg-reddit-bot" style="text-decoration: none;">RPG Reddit Bot</a></h3>
    <p>
        Project 1 content<br />
    </p>

    <h3><a href="https://github.com/kjong/how-does-twitter-feel-about-it" style="text-decoration: none;">Twitter Sentiment Analysis</a></h3>
    <p>
        Project 2 content<br />
    </p>

    <h2>Skills</h2>
    <h4>in order of proficiency</h4>
    <p>
        Java<br />
        Python<br />
        C<br />
        Bash<br />
        HTML/CSS<br />
        SQL<br />
    </p>

    <h3><a href="{{ url_for('resume') }}" style="text-decoration: none;"> resume.pdf</a></h3>

    <h4>site built using Flask, deployed on AWS Elastic Beanstalk</h4>

    <div class="socials">
        <a href="mailto:justinkim532@gmail.com">
            <img
                src="../static/email.svg"
                alt="email"
                height="30"
                width="30" />
        </a>
        <a href="https://www.linkedin.com/in/jong-hoon-kim/">
            <img
                src="../static/linkedin.svg"
                alt="linkedin"
                height="30"
                width="30" />
        </a>
        <a href="https://github.com/kjong">
            <img
                src="../static/github.svg"
                alt="github"
                height="30"
                width="30" />
        </a>
    </div>
    

{% endblock %}
